.vscode

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Only-local files
.env.local
/tests/test.spec.ts
/cheatSheets.MD
# Session artefacts
@pw/.auth
